<script>
$(document).ready(function () {
  	auto_school('#user_school_name');
});
</script>

<%= form_for(@user, :html => { "data-validate" => "parsley"}) do |f| %>
	<%= f.error_messages %>
	<div class = "field" >
		<%= f.label :Username, "Username*" %>
		<%= f.text_field :username,
			"data-trigger" => "change",
			"data-notblank" => "true",
			"data-type" => "alphanum" %>
	</div>
	<div class = "field" >
		<%= f.label :Email, "Email Address*" %>
		<%= f.text_field :email,
			"data-trigger" => "change",
			"data-notblank" => "true",
			"data-type" => "email" %>
	</div>
	<div class = "field" >
		<%= f.label :Password, "Password*" %>
		<%= f.password_field :password,
			"data-trigger" => "change",
			"data-notblank" => "true",
			"data-validation-minlength" => "1", 
			"data-minlength" => "6", 
			"data-maxlength" => "40" %>
	</div>
	<div class = "field" >
		<%= f.label :Password_Confirmation, "Confirm Password*" %>
		<%= f.password_field :password_confirmation,
			"data-trigger" => "change",
			"data-equalTo" => "#user_password" %>
	</div>
	<div class = "field" >
		<%= f.label :school_name, "School Name*" %>
		<%= f.text_field :school_name,
			"data-trigger" => "change",
			"data-notblank" => "true" %>
	</div>
	<div class = "field" >
		<%= f.label :Graduation, "Year of Graduation*" %>
		<%= f.text_field :graduation,
			"data-trigger" => "change",
			"data-type" => "digits",
			"data-minlength" => "4",
			"data-maxlength" => "4" %>
	</div>

	<%= f.hidden_field(:credits, :value => '5' )%>
	<%= f.hidden_field(:stars, :value => '0' )%>
	<%= f.hidden_field(:numfiles, :value => '0' )%>
	<%= f.hidden_field(:admin, :value => 'false' )%>
	<%= f.hidden_field(:confirmed, :value => 'false' )%>
	<%= f.hidden_field(:limbo_credits, :value => '0' )%>
	
  	<div class="actions">
    	<%= f.submit "Submit", :class => "btn btn-success" %>
  	</div>
<% end %>

<p><b>Note:</b> * indicates required field </p>