<script>
$(document).ready(function () {
 	var data = "/schools.js"
    $('#user_school_name').autocomplete({
        source: data
    });
 
});
</script>

<%= form_for(@user) do |f| %>
	<%= f.error_messages %>
	<div class = "field" >
		<%= f.label :Username, "Username*" %><br />
		<%= f.text_field :username %>
	</div>
	<div class = "field" >
		<%= f.label :Email, "Email Address*" %><br />
		<%= f.text_field :email %>
	</div>
	<div class = "field" >
		<%= f.label :Password, "Password*" %><br />
		<%= f.password_field :password %>
	</div>
	<div class = "field" >
		<%= f.label :Password_Confirmation, "Confirm Password*" %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	<div class = "field" >
		<%= f.label :school_name, "School Name*" %><br />
		<%= f.text_field :school_name %>
	</div>
	<div class = "field" >
		<%= f.label :Graduation, "Year of Graduation*" %><br />
		<%= f.text_field :graduation %>
	</div>
	
	<%= f.hidden_field(:credits, :value => '2' )%>
	<%= f.hidden_field(:stars, :value => '0' )%>
	<%= f.hidden_field(:numfiles, :value => '0' )%>
	<%= f.hidden_field(:admin, :value => 'false' )%>
	<%= f.hidden_field(:confirmed, :value => 'false' )%>
	
  	<div class="actions">
    	<%= f.submit "Submit" %>
  	</div>
<% end %>

<p> * indicates required field </p>