<div class = "alert" id = "#flash">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
Want to earn 2 free credits for uploading a file?  Need to request a file you don't see here?  Try visiting the <%= link_to "#{current_user.school.name} Marketplace!", school_requests_path(current_user.school)%>
</div>

<div class="page-header">
  <h1>
  	<%= @user.username %> 
  	<small>
  		(
  		<% if @user == current_user %>
  			<%= @user.credits %> Credits, 
  		<% end %>
  		<%= @user.swag %> SWAG
  		)
  	</small>
  </h1>
	<% if signed_in? %>
		<% if @user == current_user %>
			<%= render 'shared/stripe_form' %>
		<% end %>
	<% end %>
</div> 

<h3>
	User Info
	<% if signed_in? %>
		<% if @user == current_user %>
			<small>
				<%= link_to "Edit Your Profile" ,edit_user_path(@user) %>
			</small>
		<% end %>
	<% end %>
</h3>
<div class="well">
	<p>
		<h4>
			School: 
			<% if @user.school %>
				<%= link_to @user.school.name, 
							@user.school,
							:class => "a-dot" %>
			<% elsif @user == current_user %>
				School not in our database, you won't be able to upload until you select a valid school.
			<% else %>
				None
			<% end %>
		</h4>
		<h4>
			Graduation Year: 
			<span>
				<%= @user.graduation %>
			</span>
		</h4>
		<h4>
			Credits Earned: 
			<span>
				<%= @user.stars_redeemed/10 %>
			</span>
		</h4>
	</p>
</div>

<h3>Uploads</h3>
<%= render "uploads/uploads", :uploads => @uploads, :downloads => false %>

<% if signed_in? %>
	<% if @user == current_user %>
		<h3>Downloads</h3>
		<%= render 	"uploads/uploads", :uploads => @downloads, :downloads => true %>
		<br>
		<br>

		<h3>Requests</h3>
		<div>
			<% if @requests.size == 0 %>
				No requests
			<% else %>
				<%= render  "requests/requests", :requests => @requests %>
			<% end %>
		</div>
	<% end %>
<% end %>