
<h2><%= @user.username %> (<%= @user.swag %> SWAG)</h2> 
<div class = "info" id = "#flash">
Want to earn 2 free credits for uploading a file?  Need to request a file you don't see here?  Try visiting the <%= link_to "#{current_user.school.name} Marketplace!", school_requests_path(current_user.school)%>
</div>
<% if signed_in? %>
	<% if @user == current_user %>
		<%= link_to "Edit Your Profile" ,edit_user_path(@user) %>
	<% end %>
<% end %>

<h3>School
<% if @user.school %>
<%= link_to @user.school.name, @user.school %>
<% elsif @user == current_user %>
School not in our database, you won't be able to upload until you select a valid school.
<% else %>
None
<% end %>
</h3>

<h3>Graduation Year: <span style = "color: #F1F7E2;"><%= @user.graduation %></span></h3>

<h3>Credits Earned from Uploads: <span style = "color: #F1F7E2;"><%= @user.stars_redeemed/10 %></span></h3>

<h3>Uploads</h3>
<ul>
<% if !@uploads.nil? %>
<% @uploads.each do |upload| %>
	<%= render upload %>
<% end %>
<% end %>
</ul>

<% if signed_in? %>
<% if @user == current_user %>

<h3>Downloads</h3>
<ul>
<% if !@downloads.nil? %>
<% @downloads.each do |download| %>
	<%= render download %>
<% end %>
<% end %>
</ul>

<h3>Requests</h3>
	<% if @requests.size == 0%>
		None
	<% end %>
<ul>
	<% @requests.each do |request|%>
		<%= render request %>
	<% end %>
</ul>
<% end %>
<% end %>