
<h2><%= @user.username %></h2> 
<% if signed_in? %>
	<% if @user == current_user %>
		<%= link_to "Edit Your Profile" ,edit_user_path(@user) %>
	<% end %>
<% end %>

<h3>School</h3>
<% if @user.school %>
<%= link_to @user.school.name, @user.school %>
<% elsif @user = current_user %>
School not in our database, you won't be able to upload until you select a valid school.
<% else %>
None
<% end %>

<h3>Graduation Year</h3>
<%= @user.graduation %>

<h3>Files Uploaded</h3>
<%= @user.uploads.all.length %>

<h3>Credits Earned from Uploads</h3>
<%= @user.stars_redeemed/10 %>

<h3>Uploads</h3>
<ul>
<% if !@uploads.nil? %>
<% @uploads.each do |upload| %>
	<%= render upload %>
<% end %>
<% end %>
</ul>

<h3>Downloads</h3>
<ul>
<% if !@downloads.nil? %>
<% @downloads.each do |download| %>
	<%= render download %>
<% end %>
<% end %>
</ul>

</br>
<% if signed_in? %>
<% if @user == current_user %>
<%= link_to "Edit Profile" ,edit_user_path(@user) %>
<% end %>
<% end %>