 <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">StudyHeist</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <% if signed_in? %>
              <li><%= link_to "#{current_user.username} (#{current_user.credits} CR) ", current_user %> </li> 
              <li><%= link_to "About", about_path %> </li>
              <li><%= link_to "Sign Out", signout_path %>
            <% else %>
              <li><%= link_to "About ", about_path %> </li>
              <li><%= link_to "Sign In", signin_path %> </li>
              <li><%= link_to "Sign Up", signup_path %> </li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>