 <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="margin-top:8px;" >
        <i class="icon-bar"></i>
        <i class="icon-bar"></i>
        <i class="icon-bar"></i>
      </a>
      <a class="brand" href="/">StudyHeist</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <% if signed_in? %>
            <li><%= link_to "#{current_user.username} (#{current_user.credits} CR) ", current_user %></li>
            <li><%= link_to "Upload", "/upload" %></li>
            <li><%= link_to "Search", "/search" %></li> 
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Sign Out", signout_path %></li>
          <% else %>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Search", "/search" %></li> 
            <li><%= link_to "Sign In", signin_path %></li>
            <li><%= link_to "Sign Up", signup_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>