<div class="row">
	<%= form_tag do %>
		<div class="span3">
			<%= label_tag(:school, "School: ")  %>
			<%= text_field_tag :school, nil, :id => 'school', :class => "search-query", :value => @school_placeholder %>
		</div>
		<% if signed_in? %>
			<!--<div class="span4">
				
				<table style="margin:0 auto;padding0;">
					<tr>
						<td style="padding:0;">
							<%= label_tag(:subject, "Subject: ") %>
						</td>
						<td style="padding:0;">
							<%= label_tag(:course_code, "Course: ")  %>
						</td>
					</tr>
					<tr>
						<td>
							<%= text_field_tag :subject, nil, 
								:id => 'subject', 
								:class => "search-query input-small", 
								:value => @subject,
								:placeholder => "ex: CHEM"  %>
						</td>
						<td>
							<%= text_field_tag :course_code, nil, 
								:id => 'course_code', 
								:class => "search-query input-small", 
								:value => @course_code,
								:placeholder => "ex: 101"  %>
						</td>
					</tr>
				</table>
				-->
			<div class="span3" >
				<%= label_tag(:course_name, "Course: ") %>
				<%= text_field_tag :course_name, nil, :id => 'course', :class => "search-query", :value => @course_name,
					:placeholder => "ex: CIS 101" %>
			</div>
			<div class="span3">
				<%= label_tag(:professor, "Professor: ") %>
				<%= text_field_tag :professor, nil, :id => 'professor', :class => "search-query", :value => @professor_name,
					:placeholder => "ex: Mandelbrot" %>
			</div>
			<div class="span2">
				<table>
					<tr class="pad">
						<td>Any</td>
						<td>All</td>
					</tr>
					<tr class="pad">
						<td>
							<input type="radio" value="ANY" name="match" />
						</td>
						<td>
							<input type="radio" value="ALL" name="match" checked="checked" />
						</td>
					</tr>
				</table>
			</div>
		<% else %>
			<div class="span3">
				<label for="fakecourse">Course: </label>
				<input type="text" disabled="disabled" name="fakecourse" class="search-query" value="Sign in to search by Course.">
			</div>
			<div class="span3">
				<label for="fakeprof">Professor: </label>
				<input type="text" disabled="disabled" name="fakeprof" class="search-query" value="Sign in to search by Professor.">
			</div>
		<% end %>
		<div class="span1">
			<%= label_tag(:search, "Search:", :class => "white") %>
			<%= submit_tag "Search", :class => "btn btn-success", :style => "float:left;" %>
		</div>
	<% end %>
</div>