<%= form_for @purchase do |f| %>
<%= f.error_messages %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :credits, :value => 5 %> 
	</br>
	<div class = "field">
		<%= label_tag :full_name, "Full Name on Card"%>
		<%= text_field_tag :full_name, nil, name: nil, :class => "name" %>
	</div>
	<div class="field">
    	<%= label_tag :card_number, "Credit Card Number" %>
    	<%= text_field_tag :card_number, nil, name: nil, :class => "card-number" %>
  	</div>
  	<div class="field">
    	<%= label_tag :card_code, "Security Code on Card (CVV)" %>
    	<%= text_field_tag :card_code, nil, name: nil, :class => "card-cvc" %>
  	</div>
  	<div class="field">
    	<%= label_tag :card_month, "Card Expiration (MM/YYYY)" %>
		<div class = "monthyear">
    	<%= text_field_tag :card_expiry_month, nil, name: nil, :class => "card-expiry-month" %> /
   		<%= text_field_tag :card_expiry_year, nil, name: nil, :class => "card-expiry-year" %>
		</div>
  	</div>
	<div class="actions">
		<%= f.submit "Purchase", :class => "submit-button round info" %></div>
	</div>
	</br>
	<span class="payment-errors"></span>
	
<div id="stripe_error">
	<noscript>
	JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
	</noscript>
</div>

<% end %>