<span class="payment-errors"></span>
</br>
<%= form_for @purchase do |f| %>
<%= f.error_messages %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :credits, :value => 5 %> 
	</br>
	<div class = "field">
		<%= label_tag :full_name, "Full Name on Card:"%>
		<%= text_field_tag :full_name, nil, name: nil, :class => "name" %>
	</div>
	<div class="field">
    	<%= label_tag :card_number, "Credit Card Number:" %>
    	<%= text_field_tag :card_number, nil, name: nil, :class => "card-number" %>
  	</div>
  	<div class="field">
    	<%= label_tag :card_code, "Security Code on Card (CVV):" %>
    	<%= text_field_tag :card_code, nil, name: nil, :class => "card-cvc" %>
  	</div>
  	<div class="field">
    	<%= label_tag :card_month, "Card Expiration (MM/YYYY):" %>
		<div class = "monthyear">
    	<%= text_field_tag :card_expiry_month, nil, name: nil, :class => "card-expiry-month" %> /
   		<%= text_field_tag :card_expiry_year, nil, name: nil, :class => "card-expiry-year" %>
		</div>
  	</div>
	<div class = "field">
		<%= label_tag :billing_zip, "Billing ZIP Code:"%>
		<%= text_field_tag :billing_zip, nil, name: nil, :class => "address_zip" %>
	</div>
	<div class="actions">
		<%= f.submit "Purchase", :class => "submit-button round info" %></div>
	</div>
	</br>
<div id="stripe_error">
	<noscript>
	JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
	</noscript>
</div>

<% end %>
</br>
</br>
<b>Note:</b> your payment information is handled completely by <%= link_to "Stripe", "http://www.stripe.com"%>.  It never touches our servers nor does it enter our logs, so you don't need to worry about security.   Their advanced technology helps us do simple, fast, and secure purchases with minimal personal information.