<script>
$(document).ready(function () {
	//Auto complete
	auto_course('#upload_temp_coursename');
	auto_professor('#upload_professor');
 	
 	//Loading spinner
 	$('.btn-success').live('click',function(e){
 		if ($(this).hasClass("disabled") == false) {
 			loading_state('.btn-success',"Uploading....");
 			setTimeout(function() {
 				$('form').submit();
 			},
 			200);
 			return false;
 		}
 	});

 	//$('#upload_temp_coursename').change(function(e) {
 		//$('#coursename_suggest').text("Did you mean?");
 	//});

});
</script>

<%= form_for(@upload, :html => {:multipart => true, "data-validate" => "parsley"}) do |f| %>
	
	<%= f.error_messages %>
	<div class="row">
		<div class = "field span4">
			<%= f.label(:semester, "Semester*") %>
			<%= f.select(:semester, options_for_select([["Fall","Fall"],["Spring","Spring"],["Summer","Summer"],["Winter","Winter"]])) %>
		</div>
		<div class = "field span4">
			<%= f.label(:year, "Year*") %>
			<%= date_select :upload, :year, :start_year => 1980, :end_year => Time.now.year, :discard_month => true %>
		</div>
	</div>
	<div class="row">
		<!--
		<div class = "field span4">
			<%= f.label(:temp_coursename, "Course Name* (ex: BIOL 202)") %>
			<%= f.text_field :temp_coursename,
				"data-validation-minlength" => "2",
				"data-trigger" => "change",
				"data-notblank" => "true" %>
		</div>
		-->
		<div class = "field span4">
			<table>
				<tr>
					<td>
						<%= f.label(:subject, "Subject*") %>
					</td>
					<td>
						<%= f.label(:course_code, "Course Code*") %>
					</td>
				</tr>
				<tr>
					<td>
						<%= f.text_field :subject,
							:class => "input-small",
							:style => "display:inline-block;",
							:placeholder => "ex: CHEM",
							"data-validation-minlength" => "1",
							"data-trigger" => "change",
							"data-notblank" => "true" %>
					</td>
					<td>
						<%= f.text_field :course_code,
							:class => "input-small",
							:style => "display:inline-block;",
							:placeholder => "ex: 101",
							"data-validate-minlength" => "1",
							"data-trigger" => "change",
							"data-notblank" => "true" %>
					</td>
				</tr>
			</table>
		</div>

		<div class = "field span4">
			<%= f.label(:professor, "Professor*") %>
			<%= f.text_field :professor,
				"data-validation-minlength" => "2",
				"data-trigger" => "change",
				"data-notblank" => "true" %>
		</div>
	</div>

	<div class="row">
		<div class = "field span8">
			<%= f.label(:description, "File Description") %>
			<%= f.text_field :description, :class => "description input-large" %>
		</div>
	</div>
	
	<%= f.hidden_field(:stars, :value => '0' )%>
	<%= f.hidden_field(:ratings, :value => '0' )%>
	<%= f.hidden_field(:school_id, :value => current_user.school.id )%>
	
	<div class = "field upload">
		<div class = "uploadbutton">
			<%= f.file_field(:linked) %>
		</div>
	</div>
	
	<br />

	<div class="actions" id = "spintarget">
    	<%= f.submit "Upload File", :class => "btn btn-success" %>
  	</div>
	
<% end %>
<p><b>Note:</b> * indicates required field </p>