<script>
$(document).ready(function () {
	
	auto_course('#request_temp_coursename');
	auto_professor('#request_professor');
 
});
</script>
<h3>Make a Request</h3>
<%= form_for(@request) do |f| %>
	<%= f.error_messages %>
	<div class="row">
		<div class = "field span4">
			<%= f.label(:semester, "Semester: ") %>
			<%= f.select(:semester, options_for_select([["Fall","Fall"],["Spring","Spring"],["Summer","Summer"]])) %>
		</div>
		<div class = "field span4">
			<%= f.label(:year, "Year: ") %>
			<%= date_select :request, :year, :start_year => 1980, :end_year => Time.now.year, :discard_month => true %>
		</div>
	</div>
	<div class="row">
		<!--
		<div class = "field span4">
			<%= f.label(:temp_coursename, "Full Course Name: ") %>
			<%= f.text_field :temp_coursename %>
		</div>
		-->
		<div class = "field span4">
			<table>
				<tr>
					<td>
						<%= f.label(:subject, "Subject*") %>
					</td>
					<td>
						<%= f.label(:course_code, "Course Code*") %>
					</td>
				</tr>
				<tr>
					<td>
						<% if @subjects.length > 5 %>
							<%= collection_select(:request, :subject, 
											@subjects, :name, :name,
											{}, 
											{:style => "width:90px;"}) %>
						<% else %>
							<%= f.text_field :subject,
								:class => "input-small",
								:style => "display:inline-block;",
								:placeholder => "ex: CHEM",
								"data-validation-minlength" => "1",
								"data-trigger" => "change",
								"data-notblank" => "true" %>
						<% end %>
					</td>
					<td>
						<%= f.text_field :course_code,
							:class => "input-small",
							:style => "display:inline-block;",
							:placeholder => "ex: 101",
							"data-validate-minlength" => "1",
							"data-trigger" => "change",
							"data-notblank" => "true" %>
					</td>
				</tr>
			</table>
		</div>
		<div class = "field span4">
			<%= f.label(:professor, "Professor: ") %>
			<%= f.text_field :professor %>
		</div>
	</div>
	<div class = "field">
		<%= f.label(:description, "Description:") %>
		<%= f.text_field :description, :class => "round" %>
	</div>
	<%= f.hidden_field(:user_id, :value => current_user.id )%>
	<%= f.hidden_field(:school_id, :value => current_user.school_id )%>
	
  	<div class="actions">
    	<%= f.submit "Submit Request", :class => "btn btn-success" %>
  	</div>
<% end %>