<tr>
	<td><%= link_to request.course_name, request.course %></td>
	<td><%= request.user.username %></td>
	<td><%= request.description %></td>
	<td><%= request.semester + " " %> <%= request.year.year %></td>
	<td><%= request.professor %></td>
	<td class="center">
		<!-- Current User's Request -->
		<% if request.user.id == current_user.id %>
			<%= link_to "delete", request, 
						:method => :delete,
                        :confirm => "You sure?",
                        :title => "Delete Request", 
						:class => "btn btn-danger btn-small" %>
			<%= link_to "responses", 
						request_responses_path(request),
						:class => "btn btn-info btn-small"  %>
		<!-- A Request the User Has Not Responded To -->
		<% elsif !current_user.has_responded?(request) %>
			<a 	href = <%= "/requests/#{request.id}/responses"%> 
				class = "btn btn-success btn-small">
				Respond
			</a>
		<!-- User Has Responded-->
		<% else %>
			<span class = "delete">
				None
			</span>
		<% end %>
	</td>
</tr>