<script>
	$(document).ready(function () {
		$("#browsediv").fadeIn(700);
		$("#uploaddiv").hide();
		$("#creditsdiv").hide();
		
		$("#yield").removeClass('yield');
		$("#yield").removeClass('shadow');
		$("#yield").removeClass('topbar');
		
		$("#browse").click(
			function() {
				$("#browsediv").fadeIn(700);
				$("#uploaddiv").hide();
				$("#creditsdiv").hide();
			}
		);
		$("#contribute").click(
			function() {
				$("#browsediv").hide();
				$("#uploaddiv").fadeIn(700);
				$("#creditsdiv").hide();
			}
		);
		$("#credits").click(
			function() {
				$("#browsediv").hide();
				$("#uploaddiv").hide();
				$("#creditsdiv").fadeIn(700);
			}
		);
		
		 	var data = "/schools.js"
    		$('#school_name').autocomplete({
        		source: data
    		});	

			var data4 = "/courses.js"
    		$('#course_name').autocomplete({
        		source: data4
    		});

			browseOn = "/images/browseflat.png"
			browseOff = "/images/browseflatout.png"
			uploadOn = "/images/uploadflat.png"
		 	uploadOFf= "/images/uploadflatout.png"
			creditsOn = "/images/creditsflat.png"
			creditsOff = "/images/creditsflatout.png"
			
			$('#browse').mouseover(
				function() {
					$('#browse').attr('src', "/images/browseflat.png")
			});
			$('#browse').mouseout(
				function() {
					$('#browse').attr('src', "/images/browseflatout.png")
			});
			$('#contribute').mouseover(
				function() {
					$('#contribute').attr('src', "/images/uploadflat.png")
			});
			$('#contribute').mouseout(
				function() {
					$('#contribute').attr('src', "/images/uploadflatout.png")
			});
			$('#credits').mouseover(
				function() {
					$('#credits').attr('src', "/images/creditsflat.png")
			});
			$('#credits').mouseout(
				function() {
					$('#credits').attr('src', "/images/creditsflatout.png")
			});
 
	});
</script>

<p class = "center"><div id = "mainbod" class = "center">
		<table>
			<tr>
				<td class = "nav round">
					<% if signed_in? %>
					<img src = "/images/browseflatout.png" class = "nav" id = "browse" ></img>
					<% else %>
					<a href = "?signedin=false"><img src = "/images/browseflatout.png" class = "nav" id = "browse"></img></a>
					<% end %>
				</td>
				<td class = "nav round">
					<% if signed_in? %>
					<img src = "/images/uploadflatout.png" class = "nav" id = "contribute"></img>
					<% else %>
					<a href = "?signedin=false"><img src = "/images/uploadflatout.png" class = "nav" id = "contribute"></img></a>
					<% end %>
				</td>
				<td class = "nav round">
					<% if signed_in? %>
					<img src = "/images/creditsflatout.png" class = "nav" id = "credits"></img>
					<% else %>
					<a href = "?signedin=false"><img src = "/images/creditsflatout.png" class = "nav" id = "credits"></img></a>
					<% end %>
				<td>
			</tr>
			<tr>
				<td>Browse</td>
				<td>Upload</td>
				<td>Get Credits</td>
			</tr>
		</table>
			<p><div id = "maintext" class = "rounddoublepadded shadow topbar">
			<% if signed_in? %>
			<div id = "uploaddiv">
				<%= render '/shared/upload_form' %>
			</div>
			<div id = "browsediv">
				<h2>Browse Files by School</h2>
				<%= form_tag(schoolsearch_path, :method => "get") do %>
				<%= label_tag :school_name, "School:", :id => 'school_name_label'%>
				<%= text_field_tag :school_name, nil, :id => 'school_name', :class => "roundish" %>
				<%= submit_tag "Go", :id => 'school_browse'%>
				<% end %>	
				</br>
				<h2>Browse Files by Course</h2>
				<%= form_tag(coursesearch_path, :method => "get") do %>
				<%= label_tag :course_name, "Course:", :id => 'course_name_label'%>
				<%= text_field_tag :course_name, nil, :id => 'course_name', :class => "roundish" %>
				<%= submit_tag "Go", :id => 'course_browse'%>
				<% end %>
				</br>
				<h2>Browse File Marketplace</h2>
				<span id = "marketlink"><%= link_to "#{current_user.school.name} Marketplace", school_requests_path(current_user.school) %></span>
			</div>
			<div id = "creditsdiv">
			<h2>Add 10 Credits for $4.99!</h2>
				<%= link_to "Click Here", new_purchase_path %>
				
			<h2>More credit bundle sizes coming soon!</h2>
			</div>
			<% else %>
			</br></br>
				Welcome to StudyHeist, the nation's vault for college study materials.  We collect and organize user uploaded study material for colleges and courses across the nation, and it's all rated and sorted by other students.   It's free to download, as long as you contribute to the community. 
				</br>
				</br>
				
				Upload your study guides/notes or even general class materials like lecture presentations and practice tests.   When someone else downloads your file, they will rate it.   Every 10 rating stars you receive earns you a download credit.   So, if you upload the best you get to download the most.  It's that simple!
				
				</br>
				</br>
				To get started (with <b>five free downloads</b>), <%= link_to "make an account!", signup_path %>  </br></br> Confused?  Look at our <%= link_to "Frequently Asked Questions", about_path %>.
			<% end %>
			</div></p>
</div></p>