<tr>
	<td class="center">
		<span class = "downloadicon">
			<a target="_blank" class="downloadlink" href=<%= "/responses/#{response.id}/download" %>>
				<i class="icon-cloud-download icon-large"></i>
				<br />
				<small>
					FREE
				</small>
			</a>
		</span>
	</td>

	<td class="center">
		<span class = "typeicon">
			<i class="<%= icon_class response.linked.content_type %>"></i>
		</span>
	</td>

	<td>
		<%= "#{response.linked.original_filename}" %>
	</td>

	<td>
		Description: <%= response.description %>
	</td>
	
	<td>
		<%= link_to "accept", 
					"/responses/#{response.id}/accept", 
					:class => "btn btn-success btn-small" %>
		<% if response.user == current_user %> 
			<%= link_to "delete", 
						response, 
						:method => :delete,
		                :confirm => "You sure?",
		                :title => response.linked.original_filename,
		                :class => "btn btn-danger btn-small" %>
		<% end %>
	</td>
</tr>