<div class = "alert" id = "#flash">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
Want to earn 2 free credits for uploading a file?  Need to request a file you don't see here?  Try visiting the <%= link_to "#{current_user.school.name} Marketplace!", school_requests_path(current_user.school)%>
</div>

<div class="page-header">
  <h1><%= @school.name %> <small>All Courses</small></h1>
</div> 

<% @subjects.each do |subject| %>
<h3><%= subject %></h3>
<ul class = "indent">
	<% @courses.each do |course| %>
		<% if course.subject == subject %>
			<li><a href = <%= course_path(course) %>><%= course.course_name %> (<%= course.num_uploads %>)</a></li>
		<% end %>
	<% end %>
</ul>
<% end %>