<div class = "alert" id = "#flash">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
Want to earn 2 free credits for uploading a file?  Need to request a file you don't see here?  Try visiting the <%= link_to "#{current_user.school.name} Marketplace!", school_requests_path(current_user.school)%>
</div>

<div class="page-header">
  <h1><%= @school.name %> <small>All Courses</small></h1>
</div> 

<% @subjects_to_courses.each_pair do |subject, courses| %>
	<h3><%= subject %></h3>
	<ul class = "indent">
		<% courses.each do |course| %>
				<li><a href = <%= course_path(course) %>><%= course.course_name %> (<%= pluralize(course.num_uploads, "file") %>)</a></li>
		<% end %>
	</ul>
<% end %>

<% if @subjects.size == 0 %>
	<h4>Oh no!</h4>
	<img src="/assets/sadpanda.jpg" class="img-rounded img-polaroid" width="200" />
	<br />
	<br />
	<div class="well">
		<b>It doesn't look like anyone has uploaded anything to this school yet.  If this is your school, why don't you start the party by <%= link_to "uploading a file", "/upload" %>!  That would probably cheer up this sad, sad baby panda.  Plus you'll earn StudyHeist credits when you upload.</b>
	</div>
<% end %>