<tr>
	<td class="center">
		<%= render 'uploads/downloadicon', :upload => upload %>
	</td>
	<td class="center">
		<span class = "typeicon">
			<% if upload.linked.content_type.include?("pdf") %>
				<i class="icon-file icon-large"></i>
			<% elsif upload.linked.content_type.include?(".doc") || upload.linked.content_type.include?("msword") %>
				<i class="icon-file-alt icon-large"></i>
			<% elsif upload.linked.content_type.include?("presentation") %>
				<i class="icon-list-alt icon-large"></i>
			<% elsif upload.linked.content_type.include?(".sheet") %>
				<i class="icon-table icon-large"></i>
			<% elsif upload.linked.content_type.include?("image") %>
				<i class="icon-camera icon-large"></i>
			<% else %>
				<i class="icon-paper-clip icon-large"></i>
			<% end %>
		</span>
	</td>
	<td>
		<%= link_to "#{upload.linked.original_filename}", upload %>
	</td>
	<td>
		<% if upload.ratings > 0 %>
			<span class="<%= upload.rating_class %>"></span>
		<% else %>
			N/A
		<% end %>
	</td>
	<td>
		<%= "#{upload.course.course_name}" %>
	</td>
	<td>
		<%= "#{upload.semester}  #{upload.year.year}" %>
	</td>
	<td>
		<%= upload.professor %>
	</td>
	<td>
		<% if upload.user == current_user %> 
			<%= link_to "delete", upload, 
								:method => :delete,
	                            :confirm => "Are you sure?",
	                            :title => upload.linked.original_filename,
	                            :class => "delete"%>
	    <% else %>
	    	None
		<% end %>
	</td>
</tr>