<tr>
	<td class="center">
		<%= render 'uploads/downloadicon', :upload => upload %>
	</td>
	<td class="center">
		<span class = "typeicon">
			<i class="<%= icon_class upload.linked.content_type %>"></i>
		</span>
	</td>
	<td>
		<%= link_to "#{upload.linked.original_filename}", 
					upload,
					:class => "a-dot-rev" %>
	</td>
	<td class="center">
		<% if upload.ratings > 0 %>
			<span class="<%= upload.rating_class %>"></span>
		<% else %>
			N/A
		<% end %>
	</td>
	<td>
		<%= link_to "#{upload.course.course_name}", 
					upload.course,
					:class => "a-dot-rev" %>
	</td>
	<td>
		<%= "#{upload.semester}  #{upload.year.year}" %>
	</td>
	<td>
		<%= upload.professor %>
	</td>
	<td>
		<% if upload.user == current_user %> 
			<%= link_to "delete", upload, 
								:method => :delete,
	                            :confirm => "Are you sure?",
	                            :title => upload.linked.original_filename,
	                            :class => "btn btn-danger btn-small"%>
	    <% else %>
	    	None
		<% end %>
	</td>
</tr>