<ul>
<%= render @upload %>
</ul>

<h2>Uploaded by: <%= link_to "#{@upload.user.username}", @upload.user %>

<h2>Description</h2>
<%= @upload.description %>

<h2>Number of Downloads: <%= @downloads.length %></h2>

<h2>School: <%= link_to @upload.school.name, @upload.school %></h2>

<h2>Course: <%= @upload.course_name %></h2>

<h2>Comments/Ratings</h2>
<% if @downloads2.length > 0 %>
	<% if @comments2.length < 1 %>
	Comment or rate.
	<p><%= render "/shared/comment_form"%></p>
	<% end %>
<% end %>
	<ul>
		<% @comments.each do |comment| %>
			<%= render comment %>
		<% end %>
	</ul>
