
<h2>
	<%= @upload.linked.original_filename %>
	<span class = "downloadicon">
		<a target="_blank" class="downloadlink" href=<%= "/uploads/#{@upload.id}/download" %>>
			<i class="icon-cloud-download"></i>
		</a>
	</span>
</h2>

<h3>File Info</h3>
<div class="well">
	<p>
		<h4>
			Uploaded by: 
			<%= link_to "#{@upload.user.username}", @upload.user %>
		</h4>
		<h4>
			School: 
			<%= link_to @upload.school.name, @upload.school %>
		</h4>
		<h4>
			Course: 
			<%= link_to @upload.course_name, @upload.course %>
		</h4>
		<h4>
			Description:
			<%= @upload.description %>
		</h4>
		<h4>
			Number of Downloads: 
			<%= @downloads.length %>
		</h4>
	</p>
</div>

<h3>Comments/Ratings</h3>
<% if current_user.has_downloaded?(@upload) %>
	<% if !current_user.has_commented?(@upload) %>
		Please rate this file:
		<p>
			<%= render '/shared/comment_form' %>
		</p>
	<% end %>
<% end %>
<%= render "comments/comments", :comments => @comments %>
