<table>
	<tr>
		<td style="padding-right:20px;">
			<h2>
				<%= @upload.linked.original_filename %>
			</h2>
		</td>
		<td class="center dlink">
			<%= render "uploads/downloadicon", :upload => @upload %>
		</td>
	</tr>
</table>

<h3>File Info</h3>
<div class="well">
	<p>
		<h4>
			Uploaded by: 
			<%= link_to "#{@upload.user.username}", 
						@upload.user,
						:class => "a-dot" %>
		</h4>
		<h4>
			School: 
			<%= link_to @upload.school.name, 
						@upload.school,
						:class => "a-dot" %>
		</h4>
		<h4>
			Course: 
			<%= link_to @upload.course_name, 
						@upload.course,
						:class => "a-dot" %>
		</h4>
		<h4>
			Description:
			<%= @upload.description %>
		</h4>
		<h4>
			Number of Downloads: 
			<%= @downloads.length %>
		</h4>
		<h4>
			Average Rating:
			<% if @upload.ratings > 0 %>
				<%= @upload.avg_rating %>/10
			<% else %>
				N/A
			<% end %> 
		</h4>
	</p>
</div>

<h3>Comments/Ratings</h3>
<% if current_user.has_downloaded?(@upload) %>
	<% if !current_user.has_commented?(@upload) %>
		Please rate this file:
		<p>
			<%= render '/shared/comment_form' %>
		</p>
	<% end %>
<% end %>
<%= render "comments/comments", :comments => @comments %>
