<!DOCTYPE html>
<html>
<head>
	
  <title>StudyHeist - Rob The Vault</title>
  	<%= stylesheet_link_tag :all %>
  	<%= javascript_include_tag :all, :defaults %>
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
  	<%= csrf_meta_tag %>
	<%= yield :head %>


	<script type="text/javascript">

  	var _gaq = _gaq || [];
  	_gaq.push(['_setAccount', 'UA-28046262-1']);
  	_gaq.push(['_trackPageview']);

  	(function() {
    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();

</script>
</head>
<body>
	<script>
	$(document).ready(function () {
		$(".downloadlink").click(
			function() {
				location.reload();
			});
	});	
	</script>
	
	<%= render 'shared/header' %>

	<div class = "yield round down100" id = "yield">
		<%= yield %>
	</div>


</body>
</html>
